# version bump checklist
# 1) version = "X.Y.Z" in this file
#       ../bin/Cargo.toml
# 2) version in all the k8s yaml image: logdna/logdna-agent-v2:X.Y.Z
#       ../k8s/*.yaml
# 3) update changelog
#       ../CHANGELOG.md
# 4) *optional* run 'cargo update' so that new deps are pulled in
# 5) once the diff/pr is accepted tag the commit in master X.Y.Z, this will trigger the CI job

[package]
name = "logdna-agent"
version = "3.1.0-beta.2"
authors = ["CJP10 <connor.peticca@logdna.com>"]
edition = "2018"
build = "build.rs"

[[bin]]
name = "logdna-agent"
path = "src/main.rs"

[dependencies]
#local
http = { package = "http", path = "../common/http" }
fs = { package = "fs", path = "../common/fs" }
config = { package = "config", path = "../common/config" }
middleware = { package = "middleware", path = "../common/middleware" }
k8s = { package = "k8s", path = "../common/k8s" }
metrics = { package = "metrics", path = "../common/metrics" }
journald = { package = "journald", path = "../common/journald" }
state = { package = "state", path = "../common/state" }

bytes = "1"
chrono = "0.4"
async-trait = "0.1"
log = "0.4"
env_logger = "0.8"
anyhow = "1"
serde_yaml = "0.8"
jemallocator = "0.3"
futures = "0.3"
tokio = { version = "1", features = ["rt-multi-thread", "signal"] }
tokio-stream = "0.1"
pin-utils = "0.1"

auditable = "0.1"
miniz_oxide = "0.4"

[features]
default = []
integration_tests = []
profiling = ["jemallocator/profiling"]
k8s_tests = []
journald_tests = ["journald/journald_tests"]

[dev-dependencies]
lazy_static = "*"
assert_cmd = "1"
itertools = "0.10"
predicates = "1"
tempfile = "3"
rustls = "0.19"
rcgen = "0.8"
logdna_mock_ingester = { package = "logdna-mock-ingester", path = "../common/test/mock-ingester" }
test_types = { package = "types", path = "../common/test/types" }
proptest = "1"
tokio-test = "0.4"
rand = "0.8"
systemd = "0.7"
nix = "0.20"
wait-timeout = "0.2"

[build-dependencies]
auditable-build = "0.1"
