os: Visual Studio 2019

# Disable msbuild
build: false

skip_branch_with_pr: true

environment:
  PATH: c:\OpenSSL-v111-Win64\bin;%PATH%
  OPENSSL_ROOT_DIR: c:\OpenSSL-v111-Win64
  OPENSSL_DIR: c:\OpenSSL-v111-Win64
  RUST_LOG: info
  RUST_BACKTRACE: 1

cache:
  - C:\Users\appveyor\.cargo

install:
  - echo Installing with SSL on %OPENSSL_DIR%
  - appveyor-retry appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init.exe -y --default-host=x86_64-pc-windows-msvc
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - del rustup-init.exe
  - rustc -vV
  - cargo -vV
  - rustup component add llvm-tools-preview --toolchain stable-x86_64-pc-windows-msvc
  - cargo install cargo-llvm-cov

test_script:
  - cargo llvm-cov --html

artifacts:
  - path: target/llvm-cov/html/index.html
    name: Code Coverage Report
