os: Visual Studio 2019

# Disable msbuild
build: false

environment:
  PATH: c:\OpenSSL-v111-Win64\bin;%PATH%
  OPENSSL_ROOT_DIR: c:\OpenSSL-v111-Win64
  OPENSSL_DIR: c:\OpenSSL-v111-Win64
  RUST_LOG: info
  RUST_BACKTRACE: 1

cache:
  - C:\Users\appveyor\.cargo

install:
  - echo Installing with SSL on %OPENSSL_DIR%
  - appveyor-retry appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init.exe -y --default-host=x86_64-pc-windows-msvc
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - del rustup-init.exe
  - rustc -vV
  - cargo -vV

test_script:
  - cargo test --no-run --no-default-features
  - cargo test -p fs -- --nocapture --test-threads=1

