<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define bitness = "(64 bit)" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <Product Id="*" Name="Mezmo Agent $(var.bitness)"
                    Language="1033"
                    Version="$(env.AGENT_VERSION)"
                    Manufacturer="Mezmo"
                    UpgradeCode="a96e8dad-9abd-43e8-a467-307145ecc1e8">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                      AllowDowngrades="no"
                      AllowSameVersionUpgrades="yes" />
        <MediaTemplate EmbedCab="yes" />
        <UIRef Id="WixUI_Minimal" />
        <Feature Id="ProductFeature" Title="Mezmo Agent" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="ProductComponents2" />
        </Feature>

        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
            <Custom Action="ServiceRecovery" After="InstallServices">NOT REMOVE</Custom>
        </InstallExecuteSequence>
        <Property Id="powershell" Value="powershell.exe" />
        <CustomAction Id="ServiceRecovery"
                      ExeCommand="-ExecutionPolicy Bypass -WindowStyle hidden -File &quot;[#PostInstallScript1]&quot;"
                      Execute="deferred"
                      Property="powershell"
                      Impersonate="no"
                      Return="check" />

    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="Mezmo" />
            </Directory>
            <Directory Id="CommonAppDataFolder">
                <Directory Id="DATAFOLDER" Name="logdna" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent" Win64="$(var.Win64)" Guid="56CD2588-B976-4198-B815-FAB7E1E57CD7">
                <File Id="AgentSvc" Name="logdna-agent-svc.exe" DiskId="1" Source="$(env.AGENT_EXE_DIR)/logdna-agent-svc.exe" KeyPath="yes" />
                <File Id="AgentCLI" Name="logdna-agent.exe" DiskId="1" Source="$(env.AGENT_EXE_DIR)/logdna-agent.exe" />
                <File Id="PostInstallScript1" Name="post_install.ps1" DiskId="1" Source="./post_install.ps1" />
                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="MezmoAgentService"
                                DisplayName="Mezmo Agent" Description="Mezmo Agent Service"
                                Start="auto" Account="LocalSystem" ErrorControl="normal" Arguments="" Interactive="no" />
                <ServiceControl Id="StartService" Stop="both" Start="install" Remove="uninstall" Name="MezmoAgentService" Wait="yes" />
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="ProductComponents2" Directory="DATAFOLDER">
            <Component Id="ProductComponent2" Guid="56CD2588-B976-4198-B815-FAB7E1E57CD1">
                <File Id="CfgFile" Name="logdna.conf" DiskId="1" Source="./logdna.conf" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>


</Wix>
