[package]
name = "http"
version = "0.1.0"
authors = ["CJP10 <connor.peticca@logdna.com>"]
edition = "2018"

[dependencies]
#local
metrics = { package = "metrics", path = "../metrics" }
state = { package = "state", path = "../state" }
#http
logdna-client = { git ="https://github.com/logdna/logdna-rust.git", branch="set-line2" }

#io
tokio = "1"
#utils
log = "0.4"
bytes = "1"
crossbeam = "0.8"
uuid = { version = "0.8", features = ["v4"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
chrono = "0.4"
thiserror = "1"
futures = "0.3"

[dev-dependencies]
rand = "0.8"
num_cpus = "1.0"
