[package]
name = "http"
version = "0.1.0"
authors = ["CJP10 <connor.peticca@logdna.com>"]
edition = "2018"

[dependencies]
#local
metrics = { package = "metrics", path = "../metrics" }
state = { package = "state", path = "../state" }
#http
logdna-client = { git = "https://github.com/logdna/logdna-rust.git", branch="len", version = "0.5" }

#io
tokio = { version = "1", features = ["fs", "io-util"] }
async-compat = "0.2.1"
#utils
log = "0.4"
bytes = "1"
crossbeam = "0.8"
hyper = { version = "0.14", features = ["http1", "server"] }
uuid = { version = "0.8", features = ["v4"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
chrono = "0.4"
thiserror = "1"
futures = "0.3"
futures-timer = "3"
pin-project-lite = "0.2"
prometheus = { version = "0.12", features = ["process"] }
vec-collections = "0.3.5"
smallvec = "1.4"

[dev-dependencies]
async-trait = "0.1"
tokio = { version = "1", features = ["rt", "macros"] }
tokio-test = "0.4"
rand = "0.8"
num_cpus = "1.0"
proptest = "0.10"
