[package]
name = "fs"
version = "0.1.0"
authors = ["CJP10 <connor.peticca@logdna.com>"]
edition = "2018"

[dependencies]
#local
http = { package = "http", path = "../http" }
metrics = { package = "metrics", path = "../metrics" }

#io
inotify = "0.8"
#error
quick-error = "1.0"
#utils
pcre2 = "0.2"
globber = "0.1"
hashbrown = "0.8"
#logging
log = "0.4"
env_logger = "0.7"
lazy_static = "1.4"
tokio = "0.2"

#async
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"

[dev-dependencies]
tempfile = "3.1"
tokio-test = "0.2"
