[package]
name = "k8s"
version = "0.1.0"
authors = ["CJP10 <connor.peticca@logdna.com>"]
edition = "2018"

[dependencies]
#local
middleware = { package = "middleware", path = "../middleware" }
http = { package = "http", path = "../http" }
metrics = { package = "metrics", path = "../metrics" }

backoff = "0.3.0"
chrono = { version = "0.4", features = ["serde"] }
chrono-humanize = "0.1"
crossbeam = "0.8"
regex = "1"
lazy_static = "1"
log = "0.4"
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
futures = "0.3"
thiserror = "1.0"
parking_lot = "0.11"
kube = "0.52"
kube-runtime = "0.52"
k8s-openapi = { version = "0.11", default_features = false, features = ["v1_12"] }
serde = { version = "1", features = ["derive"]}
serde_json = "1"
pin-utils = "0.1"
pin-project-lite = "0.2"

[dev-dependencies]
url = "2.2.0"
tokio = { version = "1", features = ["macros"] }
